<!DOCTYPE html>
<html lang="en">

<head>
	<title>ADMIN Setting</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Weperch Technologies">
	<meta name="description" content="ASFIScholar ADMIN">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/assets/images/favicon.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/vendor/apexcharts/css/apexcharts.css">
	<link rel="stylesheet" type="text/css" href="/assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>

<body>


<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- Sidebar START -->
<nav class="navbar sidebar navbar-expand-xl navbar-dark bg-dark">

	<!-- Navbar brand for xl START -->
	<div class="d-flex align-items-center">
		<a class="navbar-brand" href=" ">
			<img class="navbar-brand-item" src="/assets/images/ASFIScholar_Logo.png" alt="">
		</a>
	</div>
	<!-- Navbar brand for xl END -->
	
	<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
		<div class="offcanvas-body sidebar-content d-flex flex-column bg-dark">

			<!-- Sidebar menu START -->
			<%- include("adminNavigation.ejs") %>
			<!-- Sidebar menu end -->


			<!-- Sidebar footer START -->
			<div class="px-3 mt-auto pt-3">
				<div class="d-flex align-items-center justify-content-between text-primary-hover">
						<a class="h5 mb-0 text-body" href="/admin/settings" data-bs-toggle="tooltip" data-bs-placement="top" title="Settings">
							<i class="bi bi-gear-fill"></i>
						</a>
						<a class="h5 mb-0 text-body" href=" " data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
							<i class="bi bi-globe"></i>
						</a>
						<a class="h5 mb-0 text-body" href="sign-in.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign out">
							<i class="bi bi-power"></i>
						</a>
				</div>
			</div>
			<!-- Sidebar footer END -->
			
		</div>
	</div>
</nav>
<!-- Sidebar END -->

<!-- Page content START -->
<div class="page-content">

	<!-- Top bar START -->
	<nav class="navbar top-bar navbar-light border-bottom py-0 py-xl-3">
		<div class="container-fluid p-0">
			<div class="d-flex align-items-center w-100">

				<!-- Logo START -->
				<div class="d-flex align-items-center d-xl-none">
					<a class="navbar-brand" href=" ">
						<img class="light-mode-item navbar-brand-item h-30px" src="/assets/images/ASFIScholar_Logo.png" alt="">
						<img class="dark-mode-item navbar-brand-item h-30px" src="/assets/images/ASFIScholar_Logo.png" alt="">
					</a>
				</div>
				<!-- Logo END -->

				<!-- Toggler for sidebar START -->
				<div class="navbar-expand-xl sidebar-offcanvas-menu">
					<button class="navbar-toggler me-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false" aria-label="Toggle navigation" data-bs-auto-close="outside">
						<i class="bi bi-text-right fa-fw h2 lh-0 mb-0 rtl-flip" data-bs-target="#offcanvasMenu"> </i>
					</button>
				</div>
				<!-- Toggler for sidebar END -->
				
				<!-- Top bar left -->
				<div class="navbar-expand-lg ms-auto ms-xl-0">
					
					<!-- Toggler for menubar START -->
					<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopContent" aria-controls="navbarTopContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</button>
					<!-- Toggler for menubar END -->

					<!-- Topbar menu START -->
					<div class="collapse navbar-collapse w-100" id="navbarTopContent">
						<!-- Navbar brand for xl START -->
	<div class="d-flex align-items-center">
		<a class="navbar-brand" href=" ">
			<img class="navbar-brand-item" src="/assets/images/ASFIScholar_Logo.png" alt="">
		</a>
	</div>
	<!-- Navbar brand for xl END -->
					</div>
					<!-- Topbar menu END -->
				</div>
				<!-- Top bar left END -->
				
				<!-- Top bar right START -->
				<div class="ms-xl-auto">
					<%- include("TopBar.ejs") %>
				</div>
				<!-- Top bar right END -->
			</div>
		</div>
	</nav>
	<!-- Top bar END -->

	<!-- Page main content START -->
	<div class="page-content-wrapper border">

		<!-- Title -->
		<div class="row">
			<div class="col-12 mb-3">
				<h1 class="h3 mb-2 mb-sm-0">Admin Settings</h1>
			</div>
		</div>

		<div class="row g-4">
			<!-- Left side START -->
			<div class="col-xl-3">
				<!-- Tab START -->
				<ul class="nav nav-pills nav-tabs-bg-dark flex-column">
					<li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"><i class="fas fa-globe fa-fw me-2"></i>Website Settings</a> </li>
					<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2"><i class="fas fa-cog fa-fw me-2"></i>General Settings</a> </li>
					<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3"><i class="fas fa-bell fa-fw me-2"></i>Notification Settings</a> </li>
					<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-4"><i class="fas fa-user-circle fa-fw me-2"></i>Account Settings</a> </li>
					<!-- <li class="nav-item"> <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-6"><i class="fas fa-envelope-open-text fa-fw me-2"></i>Email Settings</a> </li> -->
				</ul>
				<!-- Tab END -->
			</div>
			<!-- Left side END -->

			<!-- Right side START -->
			<div class="col-xl-9">

				<!-- Tab Content START -->
				<div class="tab-content">

					<!-- Personal Information content START -->
					<div class="tab-pane show active" id="tab-1">
						<div class="card shadow">

							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="card-header-title">Website Settings</h5>
							</div>

							<!-- Card body START -->
							<div class="card-body">
								<form class="row g-4 align-items-center">
									<!-- Input item -->
									<div class="col-lg-6">
										<label class="form-label">Contact Phone</label>
										<input type="text" class="form-control" placeholder="Contact Phone">
										<div class="form-text">Using for Contact and Support</div>
									</div>

									<!-- Input item -->
									<div class="col-lg-6">
										<label class="form-label">Support Email</label>
										<input type="email" class="form-control" placeholder="Support Email">
										<div class="form-text">For Support Email</div>
									</div>

									<!-- Radio items -->
									<div class="col-lg-6">
										<label class="form-label">Allow Registration</label>
										<div class="d-sm-flex">
											<!-- Radio -->
											<div class="form-check radio-bg-light me-4">
												<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
												<label class="form-check-label" for="flexRadioDefault1">
													Enable
												</label>
											</div>
										<!-- Radio -->
											<div class="form-check radio-bg-light me-4">
												<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
												<label class="form-check-label" for="flexRadioDefault2">
													Disable
												</label>
											</div>
										<!-- Radio -->
											<div class="form-check radio-bg-light">
												<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
												<label class="form-check-label" for="flexRadioDefault3">
													On Request
												</label>
											</div>
										</div>
									</div>

									<!-- Textarea item -->
									<div class="col-12">
										<label class="form-label">Contact Address</label>
										<textarea class="form-control" rows="3"></textarea>
										<div class="form-text">Enter support Address</div> 
									</div>
		
									<!-- Save button -->
									<div class="d-sm-flex justify-content-end">
										<button type="button" class="btn btn-primary mb-0">Update</button>
									</div>
								</form>
							</div>
							<!-- Card body END -->

						</div>			
					</div>
					<!-- Personal Information content END -->

					<!-- General Settings content START -->
					<div class="tab-pane" id="tab-2">

						<div class="card shadow">

							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="card-header-title">General Settings</h5>
							</div>

							<!-- Card body START -->
							<div class="card-body">
								<form class="row g-4">

									
									<!-- Switch item -->
									<div class="col-lg-3">
										<label class="form-label">Maintainance mode</label>
										<div class="form-check form-switch form-check-lg mb-0">
											<input class="form-check-input mt-0 price-toggle me-2" type="checkbox" id="flexSwitchCheckDefault">
											<label class="form-check-label mt-1" for="flexSwitchCheckDefault">Make Site Offline</label>
										</div>
									</div>
		
									<!-- Textarea item -->
									<div class="col-lg-9">
										<label class="form-label">Maintainance Text</label>
										<textarea class="form-control" rows="3"></textarea>
										<div class="form-text">Admin login on maintenance mode:<a href="#" class="ms-2">http://example.xyz/admin/login</a></div> 
									</div>
		
									<!-- Save button -->
									<div class="d-sm-flex justify-content-end">
										<button type="button" class="btn btn-primary mb-0">Update</button>
									</div>
								</form>
							</div>
							<!-- Card body END -->

						</div>
					</div>
					<!-- General Settings content END -->

					<!-- Notification setting content START -->
					<div class="tab-pane" id="tab-3">
						<!-- Notification START -->
						<div class="card shadow">
							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="card-header-title">Notifications Settings</h5>
							</div>

							<!-- Card body -->
							<div class="card-body">
								<!-- General nofification -->
								<h6 class="mb-2">Choose type of notifications you want to receive</h6>
								
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy2">
									<label class="form-check-label" for="checkPrivacy2">Weekly report</label>
								</div>
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy3" checked="">
									<label class="form-check-label" for="checkPrivacy3">Password change</label>
								</div>
								<div class="form-check form-switch form-check-md mb-0">
									<input class="form-check-input" type="checkbox" id="checkPrivacy4">
									<label class="form-check-label" for="checkPrivacy4">Play sound on a message</label>
								</div>

								<!-- Instructor notification -->
								<h6 class="mb-2 mt-4">Instructor Related Notification</h6>
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy11" checked="">
									<label class="form-check-label" for="checkPrivacy5">Joining new instructors</label>
								</div>
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy5">
									<label class="form-check-label" for="checkPrivacy5">Notify when the instructorss added new courses</label>
								</div>
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy6" checked="">
									<label class="form-check-label" for="checkPrivacy6">Notify when instructors update courses</label>
								</div>
								<div class="form-check form-switch form-check-md mb-0">
									<input class="form-check-input" type="checkbox" id="checkPrivacy7">
									<label class="form-check-label" for="checkPrivacy7">Course weekly report</label>
								</div>

								<!-- Student notification -->
								<h6 class="mb-2 mt-4">Student Related Notification</h6>
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy8" checked="">
									<label class="form-check-label" for="checkPrivacy8">Joining new student</label>
								</div>
								<div class="form-check form-switch form-check-md mb-3">
									<input class="form-check-input" type="checkbox" id="checkPrivacy9">
									<label class="form-check-label" for="checkPrivacy9">Notify when students purchase new courses</label>
								</div>
								<div class="form-check form-switch form-check-md mb-0">
									<input class="form-check-input" type="checkbox" id="checkPrivacy10">
									<label class="form-check-label" for="checkPrivacy10">Course weekly report</label>
								</div>
							</div>
						</div>
						<!-- Notification START -->
					</div>
					<!-- Notification setting content END -->

					<!-- Account setting content START -->
					<div class="tab-pane" id="tab-4">
						<!-- Activity logs -->
						<div class="bg-light rounded-3 p-4 mb-3">
							<div class="d-md-flex justify-content-between align-items-center">
								<!-- Content -->
								<div>
									<h6 class="h5">Activity Logs</h6>
									<p class="mb-1 mb-md-0">You can save your all activity logs including unusual activity detected.</p>
								</div>
								<!-- Switch -->
								<div class="form-check form-switch form-check-md mb-0">
									<input class="form-check-input" type="checkbox" id="checkPrivacy1" checked>
								</div>
							</div>
						</div>

						<!-- Change password -->
						<div class="bg-light rounded-3 p-4 mb-3">
							<div class="d-md-flex justify-content-between align-items-center">
								<!-- Content -->
								<div>
									<h6 class="h5">Change Password</h6>
									<p class="mb-1 mb-md-0">Set a unique password to protect your account.</p>
								</div>
								<!-- Button -->
								<div>
									<a href="#" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#changePassword">Change Password</a>
									<p class="mb-0 small h6">Last change 10 Aug 2020</p>
								</div>
							</div>
						</div>

						<!-- 2 Step Verification -->
						<div class="bg-light rounded-3 p-4">
							<div class="d-md-flex justify-content-between align-items-center">
								<!-- Content -->
								<div>
									<h6 class="h5">2 Step Verification</h6>
									<p class="mb-1 mb-md-0">Secure your account with 2 Step security. When it is activated you will need to enter not only your password, but also a special code using app. You can receive this code by in mobile app.</p>
								</div>
								<!-- Switch -->
								<div class="form-check form-switch form-check-md mb-0">
									<input class="form-check-input" type="checkbox" id="checkPrivacy13" checked>
								</div>
							</div>
						</div>

						<!-- Active Logs START -->
						<div class="card border mt-4">

							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="card-header-title">Active Logs</h5>
							</div>

							<!-- Card body START -->
							<div class="card-body">
								<!-- Table START -->
								<div class="table-responsive border-0">
									<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">

										<!-- Table head -->
										<thead>
											<tr>
												<th scope="col" class="border-0 rounded-start">Browser</th>
												<th scope="col" class="border-0">IP</th>
												<th scope="col" class="border-0">Time</th>
												<th scope="col" class="border-0 rounded-end">Action</th>
											</tr>
										</thead>
		
										<!-- Table body START -->
										<tbody>

											<!-- Table row -->
											<tr>
												<!-- Table data -->
												<td>Chrome On Window</td>
		
												<!-- Table data -->
												<td>173.238.198.108</td>
		
												<!-- Table data -->
												<td>12 Nov 2021</td>
		
												<!-- Table data -->
												<td>
													<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Sign out</button>
												</td>
											</tr>

											<!-- Table row -->
											<tr>
												<!-- Table data -->
												<td>Mozilla On Window</td>
		
												<!-- Table data -->
												<td>107.222.146.90</td>
		
												<!-- Table data -->
												<td>08 Nov 2021</td>
		
												<!-- Table data -->
												<td>
													<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Sign out</button>
												</td>
											</tr>

											<!-- Table row -->
											<tr>
												<!-- Table data -->
												<td>Chrome On iMac</td>
		
												<!-- Table data -->
												<td>231.213.125.55</td>
		
												<!-- Table data -->
												<td>06 Nov 2021</td>
		
												<!-- Table data -->
												<td>
													<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Sign out</button>
												</td>
											</tr>

											<!-- Table row -->
											<tr>
												<!-- Table data -->
												<td>Mozilla On Window</td>
		
												<!-- Table data -->
												<td>37.242.105.138</td>
		
												<!-- Table data -->
												<td>02 Nov 2021</td>
		
												<!-- Table data -->
												<td>
													<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Sign out</button>
												</td>
											</tr>
		

										</tbody>
										<!-- Table body END -->
									</table>
								</div>
								<!-- Table END -->
							</div>
							<!-- Card body END -->
						</div>
						<!-- Active Logs END -->
					</div>
					<!-- Account setting content END -->

					

					

				</div>
				<!-- Tab Content END -->
			</div>
			<!-- Right side END -->
		</div> <!-- Row END -->		
	</div>
	<!-- Page main content END -->
</div>
<!-- Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Popup modal for Change Password START -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal header -->
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-white" id="changePasswordLabel">Change Password</h5>
				<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<form class="row">

					<p class="mb-2">Your password has expired, Please choose a new passowrd</p>
					<!-- Input item -->
					<div class="col-12">
						<label class="form-label">Old Password <span class="text-danger">*</span></label>
						<input type="Password" class="form-control" placeholder="Enter old password">
					</div>
					
					<p class="mb-2 mt-4">Your password must be at least eight characters and cannot contain space.</p>
					<!-- Input item -->
					<div class="col-12 mb-3">
						<label class="form-label">New Passowrd <span class="text-danger">*</span></label>
						<input type="password" class="form-control" placeholder="Enter new passowrd">
					</div>

					<!-- Input item -->
					<div class="col-12">
						<label class="form-label">Confirm Passowrd <span class="text-danger">*</span></label>
						<input type="password" class="form-control" placeholder="Enter confirm passowrd">
					</div>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success my-0">Change Password</button>
			</div>
		</div>
	</div>
</div>
<!-- Popup modal for Change Password END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="/assets/vendor/apexcharts/js/apexcharts.min.js"></script>
<script src="/assets/vendor/choices/js/choices.min.js"></script>
<script src="/assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js"></script>

<!-- Template Functions -->
<script src="/assets/js/functions.js"></script>

</body>

</html>