<!-- Sidebar menu START -->
<ul class="navbar-nav flex-column" id="navbar-sidebar">
				
    <!-- Menu item 1 -->
    <li class="nav-item"><a href="/admin/pages/dashboard/user" class="nav-link active"><i class="bi bi-house fa-fw me-2"></i>Dashboard</a></li>
    
    <!-- Title -->
    <li class="nav-item ms-2 my-2">Pages</li>

    

    <!-- Menu item 3 -->
    <li class="nav-item"> 
        <a class="nav-link" data-bs-toggle="collapse" href="#collapsescholars" role="button" aria-expanded="false" aria-controls="collapsescholars"><i class="fas fa-user-graduate fa-fw me-2"></i>Scholars</a>
        <!-- Submenu -->
        <ul class="nav collapse flex-column" id="collapsescholars" data-bs-parent="#navbar-sidebar">
            <li class="nav-item"> <a class="nav-link" href="/admin/students">Scholars</a></li>
        </ul>
    </li>

    <!-- Menu item 4 -->
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseinstructors" role="button" aria-expanded="false" aria-controls="collapseinstructors">
            <i class="fas fa-user-tie fa-fw me-2"></i>Instructors
        </a>
        <!-- Submenu -->
        <ul class="nav collapse flex-column" id="collapseinstructors" data-bs-parent="#navbar-sidebar">
            <li class="nav-item"> <a class="nav-link" href="/admin/instructors">Instructors</a></li>
            <li class="nav-item"> 
                <a class="nav-link" href="/admin/pages/instructors/requests">Instructor requests
                    <span id="instructorRequestCountContainer"></span>
                    
                </a>
            </li>
        </ul>
    </li>

    <!-- menu item 2 -->
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapsepage" role="button" aria-expanded="false" aria-controls="collapsepage">
            <i class="bi bi-basket fa-fw me-2"></i>Courses
        </a>
        <!-- Submenu -->
        <ul class="nav collapse flex-column" id="collapsepage" data-bs-parent="#navbar-sidebar">
            <li class="nav-item"> <a class="nav-link" href="/admin/courses">All Courses</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/pages/courses/categories">Course Category</a></li>
        </ul>
    </li>
    <li class="nav-item"> <a class="nav-link" href="/admin/pages/scholars/uploadRequests"><i class="fa fa-cloud-upload-alt fa-fw me-2"></i>Upload Requests
        <span id="uploadRequestCount">
           
        </span></a></li>
<!-- 
        <li class="nav-item"> <a class="nav-link" href="/admin/v2/pages/announcement"><i class="fa fa-bullhorn fa-fw me-2"></i>Make announcement
          </a></li> -->

            <!-- Menu item 6 -->
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseannouncements" role="button" aria-expanded="false" aria-controls="collapseannouncements">
           <i class="fa fa-bullhorn fa-fw me-2"></i>Announcements
        </a>
        <!-- Submenu -->
        <ul class="nav collapse flex-column" id="collapseannouncements" data-bs-parent="#navbar-sidebar">
            <li class="nav-item"> <a class="nav-link" href="/admin/v2/pages/announcement">Make Announcement</a></li>
            <li class="nav-item"> 
                <a class="nav-link" href="/admin/pages/announcements/manage">Manage Announcements
                    <span id="instructorRequestCountContainer"></span>
                    
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item"> <a class="nav-link" href="/admin/pages/posters/all"><i class="far fa-address-card fa-fw me-2"></i>Posters </a></li>

    <li class="nav-item"> <a class="nav-link" href="/admin/pages/pages/asfimeet/events"><i class="fa fa-video fa-fw me-2"></i>Live Events (ASFI-Meet)</a></li>
    <!-- Menu item 5 -->
    <!-- <li class="nav-item"> <a class="nav-link" href="/admin/review"><i class="far fa-comment-dots fa-fw me-2"></i>Reviews</a></li> -->

    <!-- <li class="nav-item"> <a class="nav-link" href="/admin/pages/polls/all"><i class="fa fa-poll fa-fw me-2"></i>Polls</a></li> -->


    <!-- Menu item 7 -->
    <li class="nav-item"> <a class="nav-link" href="/settings"><i class="fas fa-user-cog fa-fw me-2"></i>Admin Settings</a></li>

    
</ul>


<script>
    const uploadRequestCount = document.getElementById("uploadRequestCount")
    const InstructoRequestCountContainer = document.getElementById("instructorRequestCountContainer")

    fetch("/admin/upload/request/count", {
        method:"GET"
    }).then(res => res.json())
    .then(data => {
        if(data){
        const UploadCount = new Number (data.uploadCount)

        if(UploadCount > 0){
        if(UploadCount > 99){
            uploadRequestCount.innerHTML = `<span class="badge text-bg-success rounded-circle ms-2">99+</span>`;
        }else{
            uploadRequestCount.innerHTML = `<span class="badge text-bg-success rounded-circle ms-2">${UploadCount}</span>`;
        }
    }
    }
    })


    fetch("/admin/instructors/request/count", {
        method:"GET"
    }).then(res => res.json())
    .then(data =>{
        if(data){
            const instructorRequestcount = data.requestCount

            if(instructorRequestcount > 0){
                if(instructorRequestcount > 99){
                    InstructoRequestCountContainer.innerHTML  = `<span class="badge text-bg-success rounded-circle ms-2">99+</span>`
                }else{
                    InstructoRequestCountContainer.innerHTML  = `<span class="badge text-bg-success rounded-circle ms-2">${instructorRequestcount}</span>`
                }

            }
        }
    })
    
</script>
<!-- Sidebar menu end -->