<div class="modal fade" id="editAction" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            
            <!-- Modal header -->
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="appDetaillabel"></h5>
                <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body p-5" id="addDetailsModals">
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="submitDetailsModal" class="btn btn-warning-soft my-0">Submit</button>
            </div>
        </div>
    </div>
</div>  
