
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        
        <!-- Dark mode -->
	 <!-- <script src="/js/colorTheme.js"></script> -->
   <style>
    .announcementContainer{
      /* height: 100%;
      width: 90%; */
      margin: auto;
      /* margin-top: 20px; */
      border-radius: 15px;
      /* margin-bottom: 90px; */
      
      font-size: 0.6rem;
      background-color: var(--bs-bg-header);
    }
    .announcementContents{
      display: flex;
      flex-direction: column;
      padding: 20px;
      /* margin-top: 50px; */
    }

    h1{
        font-size: 1rem;
    }
   </style>

  <input type="hidden" id="announcementContainer" value="<%=content %>">
    


    <!-- <div class="podcast_header"><h4>Podcasts</h4></div> -->

          <% if (success) { %>
            <div class="shadow-xl rounded-2xl overflow-hidden border border-gray-200 announcementContainer">
              <div class="announcementContents">
                <h6 class="text-2xl font-bold text-gray-900 mb-2 text-center">
                  <%= announcementTitle %>
                </h6>
                <p class="text-sm text-gray-500 mb-4 text-center">
                  <%= announcementDate %>
                </p>
                <div id="content" class=""></div>
              </div>
            </div>
          <% } else { %>
            <div class="text-center text-gray-500">
              <p>No announcement found.</p>
            </div>
          <% } %>



<!-- <script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/mainjs.js"></script> -->


<script>
    const contentValue = document.getElementById("announcementContainer").value;
    const quillContent = JSON.parse(contentValue);

    function renderQuillAsHTML(divId, deltaContent) {
        // Create a temporary Quill instance to help with conversion
        const tempDiv = document.createElement('div');
        const quill = new Quill(tempDiv, {
            theme: 'snow',
            modules: { toolbar: false },
            readOnly: true,
        });

        // Set the Delta content
        quill.setContents(deltaContent);

        // Get the plain text content
        const plainText = quill.getText().trim();

        // Trim to 30 characters and add "..."
        const trimmedText = plainText.length > 30 ? plainText.substring(0, 80) + "..." : plainText;

        // Display the trimmed text
        document.getElementById(divId).innerText = trimmedText;
    }

    renderQuillAsHTML('content', quillContent);
</script>

</body>

</html>
