<table class="table table-dark-gray align-middle mb-0 table-hover" id="assetContentContainer">
    <!-- Table head -->
    <thead>
        <tr>
            <th scope="col" class="border-0 rounded-start">Resource Title</th>
            <!-- <th scope="col" class="border-0">Status</th> -->
            <th scope="col" class="border-0">Type</th>
            <th scope="col" class="border-0 rounded-end" id="actionPanelControl">Action</th>
        </tr>
    </thead>

    <!-- Table body START -->
    <tbody id="userResourceContainer">
       
    </tbody>
    <!-- Table body END -->

   
</table>
 <!-- Pagination START -->
 <div id="footer_container"></div>
 <!-- Pagination END -->
<script>
    const url = window.location.pathname
if (url == "/dashboard" || url == "/Dashboard") {
    const actionPanelControl  = document.getElementById("actionPanelControl")

    actionPanelControl.setAttribute("style", "display:none")
}
function hideActionButtons(){
    const action_table = document.querySelectorAll(".action-table")

action_table.forEach(tableAction =>{
tableAction.setAttribute("style", "display:none; visibility:hidden; opacity:0")
})
}
</script>

<script src="/js/searchQueries/getAllResources.js"></script>
