<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
    <!-- Table head -->
    <thead>
        <tr>
            <th scope="col" class="border-0 rounded-start">Resource Title</th>
            <!-- <th scope="col" class="border-0">Clicks</th> -->
            <th scope="col" class="border-0">Status</th>
            <th scope="col" class="border-0">Type</th>
            <th scope="col" class="border-0 rounded-end" id="actionPanelControl">Action</th>
        </tr>
    </thead>

    <!-- Table body START -->
    <tbody id="userResourceContainer">
        <!-- Table PDF item -->
        <tr>
            <!-- Course item -->
            <td>
                <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="w-60px">
                        <img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
                    </div>
                    <div class="mb-0 ms-2">
                        <!-- Title -->
                        <h6><a href="#">Building Scalable APIs with GraphQL</a></h6>
                    </div>
                </div>
            </td>
            <!-- Enrolled item -->
            <!-- <td class="text-center text-sm-start">125</td> -->
            <!-- Status item -->
            <td>
                <div class="badge bg-success bg-opacity-10 text-success">Live</div>
            </td>
            <!-- Assset Type -->
            <td>
                <span class="badge bg-primary bg-opacity-10 text-primary">BOOK</span>
            </td>
            <!-- Action item -->
            <td class="action-table">
                <form action="" onsubmit="return false">
                    <input type="hidden" name="pdfAssetEdit">
                    <button class="btn btn-sm btn-success-soft btn-round me-1 mb-0" data-bs-toggle="modal" data-bs-target="#editAction"><i class="far fa-fw fa-edit"></i></button>
                </form>
                <br>
                <form action="" onsubmit="return false">
                    <input type="hidden" name="pdfAssetDelete">
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0" data-bs-toggle="modal" data-bs-target="#deleteAction"><i class="fas fa-fw fa-times"></i></button>
                </form>
            </td>
        </tr>
        <!-- Table PODCAST item -->
        <tr>
            <!-- Course item -->
            <td>
                <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="w-60px">
                        <img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
                    </div>
                    <div class="mb-0 ms-2">
                        <!-- Title -->
                        <h6><a href="#">Building Scalable APIs with GraphQL</a></h6>
                    </div>
                </div>
            </td>
            <!-- Enrolled item -->
            <!-- <td class="text-center text-sm-start">125</td> -->
            <!-- Status item -->
            <td>
                <div class="badge bg-success bg-opacity-10 text-success">Live</div>
            </td>
            <!-- Assset Type -->
            <td>
                <span class="badge bg-purple bg-opacity-10 text-purple">PODCAST</span>
            </td>
            <!-- Action item -->
            <td class="action-table">
                <form action="" onsubmit="return false">
                    <input type="hidden" name="podcastAssetEdit">
                    <button class="btn btn-sm btn-success-soft btn-round me-1 mb-0" data-bs-toggle="modal" data-bs-target="#editAction"><i class="far fa-fw fa-edit"></i></button>
                </form>
                <br>
                <form action="" onsubmit="return false">
                    <input type="hidden" name="podcastAssetDelete">
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0" data-bs-toggle="modal" data-bs-target="#deleteAction"><i class="fas fa-fw fa-times"></i></button>
                </form>
            </td>
        </tr>
        <!-- Table PUBLICATION item -->
        <tr>
            <!-- Course item -->
            <td>
                <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="w-60px">
                        <img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
                    </div>
                    <div class="mb-0 ms-2">
                        <!-- Title -->
                        <h6><a href="#">Building Scalable APIs with GraphQL</a></h6>
                    </div>
                </div>
            </td>
            <!-- Enrolled item -->
            <!-- <td class="text-center text-sm-start">125</td> -->
            <!-- Status item -->
            <td>
                <div class="badge bg-success bg-opacity-10 text-success">Live</div>
            </td>
            <!-- Assset Type -->
            <td>
                <span class="badge bg-primary bg-opacity-10 text-primary">PUBLICATION LINK</span>
            </td>
            <!-- Action item -->
            <td class="action-table">
                <form action="" onsubmit="return false">
                    <input type="hidden" name="publicationAssetEdit">
                    <button class="btn btn-sm btn-success-soft btn-round me-1 mb-0" data-bs-toggle="modal" data-bs-target="#editAction"><i class="far fa-fw fa-edit"></i></button>
                </form>
                <br>
                <form action="" onsubmit="return false">
                    <input type="hidden" name="publicationAssetDelete">
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0" data-bs-toggle="modal" data-bs-target="#deleteAction"><i class="fas fa-fw fa-times"></i></button>
                </form>
            </td>
        </tr>
        <!-- Table TUTORIAL item -->
        <tr>
            <!-- Course item -->
            <td>
                <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="w-60px">
                        <img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
                    </div>
                    <div class="mb-0 ms-2">
                        <!-- Title -->
                        <h6><a href="#">Building Scalable APIs with GraphQL</a></h6>
                    </div>
                </div>
            </td>
            <!-- Enrolled item -->
            <!-- <td class="text-center text-sm-start">125</td> -->
            <!-- Status item -->
            <td>
                <div class="badge bg-success bg-opacity-10 text-success">Live</div>
            </td>
            <!-- Assset Type -->
            <td>
                <span class="badge bg-warning bg-opacity-10 text-warning">TUTORIAL</span>
            </td>
            <!-- Action item -->
            <td class="action-table">
                <form action="" onsubmit="return false">
                    <input type="hidden" name="tutorialAssetEdit">
                    <button class="btn btn-sm btn-success-soft btn-round me-1 mb-0" data-bs-toggle="modal" data-bs-target="#editAction"><i class="far fa-fw fa-edit"></i></button>
                </form>
                <br>
                <form action="" onsubmit="return false">
                    <input type="hidden" name="tutorialAssetDelete">
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0" data-bs-toggle="modal" data-bs-target="#deleteAction"><i class="fas fa-fw fa-times"></i></button>
                </form>
            </td>
        </tr>
    </tbody>
    <!-- Table body END -->
</table>

<script>
if (url == "/dashboard" || url == "/Dashboard") {
    const action_table = document.querySelectorAll(".action-table")
    const actionPanelControl  = document.getElementById("actionPanelControl")

    actionPanelControl.setAttribute("style", "display:none")

    action_table.forEach(tableAction =>{
    tableAction.setAttribute("style", "display:none")
    })
}
</script>