<div class="chathead">
    <div class="chat_container bg-shadow">
        <div class="chat_header">
            Notifications <span class="active_chat"></span>
        </div>
        <ul id="Notification_id_container">
            
        </ul>
    </div>
    <chat_button>
        <logoHere class="bg-purple-gradient">

        </logoHere>
    </chat_button>
</div>


<input type="hidden" value="<%=Username%>" id="usernameContainer" readonly>