<style>
    *{
        box-sizing: border-box;
    }
    .notifications_panel a{
        color:inherit !important;
    }
    .notifications_panel{
        display: flex;
        color: #333 !important;
        height: 100vh;
        width:350px;
        max-width: 100%;
        display: flex;
        background-color: rgb(240, 240, 240);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        flex-direction: column;
        overflow: scroll;
        margin-right: 0px;
        padding: 20px;
        float:right;
        /* position:fixed; */
        right: 0;
    }

    .notification_header{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100px;
        height: max-content;
        top:0;
        border-bottom: 1px solid #bbbbbb;
        align-items: center;
        /* padding-bottom: 8px; */
        justify-content: center;
    }
    .header_top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        /* padding-bottom: 10px; */
    }
    .header_title{
        font-weight: bold;
    }
    .close_button_chat{
        display: flex;
        width: 30px;
        height: 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        background-color: #b9b9b9;
        color:rgb(20, 20, 20);
        border-radius: 50%;
    }
    .close_button_chat:hover{
        background-color: blueviolet;
        color:white;
    }
    .header_bottom{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 10px;
    }
    .header_bottom button{
        background-color: rgba(231, 17, 231, 0.466);
        border: 2px solid purple;
        color: purple;
        padding: 5px;
        border-radius: 5px;
    }

    .notification{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        border-bottom: 1px solid #bbbbbb;
        padding-bottom: 10px;
        padding-top: 10px;
        align-items: flex-start;
        justify-content: space-evenly;

    }
    .notification img{
        object-fit: cover;
        width: 100%;
    }
    .notification .icon{
        width:50px;
        height:50px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    .notification_body{
        width: 80%;
        flex-wrap: wrap;
        margin-left: 5px;
    }

</style>

<div class="notifications_panel">
    <div class="notification_header">
        <div class="header_top">
        <div class="header_title">Messages</div>
        <div class="close_button_chat" id="toggleChatButton"><span>x</span></div>
        </div>

        <!-- STart header Bottom  -->
         <div class="header_bottom">
            <div class="button"><button>Mark all as read</button></div>
         </div>
    </div>
    <!-- end notification header  -->

    <!-- Main notification container  -->
    <div id="Chat_id_container" class="notification_container"> 



</div>
<!-- End notificaitons container  -->
</div>