<style>
 

</style>

<div class="notifications_panel">
    <div class="notification_header">
        <div class="header_top">
        <div class="header_title">Messages</div>
        <div class="close_button_chat" id="toggleChatButton"><span>x</span></div>
        </div>

        <!-- STart header Bottom  -->
         <a href="/@<%=UserName%>/chat"><div class="header_bottom">
            <div class="button"><button>See Recent Messages</button></div>
         </div></a>
    </div>
    <!-- end notification header  -->

    <!-- Main notification container  -->
    <div id="Chat_id_container" class="notification_container"> 



</div>
<!-- End notificaitons container  -->
</div>