
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Weperch Technologies Ltd">
    <meta name="description" content="ASFISCHOLAR- African Scholars, Education, Community, Scientists">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/contactUs.css">
  
   
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="/files/images/ASFIScholar_Logo.png">

    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title>ASFI - Confirm Code</title>

    <!-- Dark mode -->
	<script src="/js/colorTheme.js"></script>
</head>
<body>
    <main>
        <div class="msg-container">
            <div class="msg alert-danger " role="alert" id="error" >Text Goes Here</div>
            <div class="msg alert-success" role="alert" id="success"></div>
        </div>

<div class="bg-purple circle top-circle"></div>

<div class="col-12 col-lg-6 m-auto login-card bg-shadow">
    <div class="row my-5">
        <div class="col-sm-10 col-xl-8 m-auto">
            <!-- Title -->
            <span class="logo"><img src="/files/images/ASFIScholar_Logo.png" alt=""></span>
            
            <span class="mb-0 fs-1">🤔</span>
							<p class="fs-2 welcome_text">Enter the Code sent to your Email</p>

            <!-- Form START -->
            <form onsubmit="return false" method="post" id="confrimResetCode">
                <!-- Username -->
                <div class="mb-4">
                    <label for="Message" class="form-label messageToConfirm"><%= message %></label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control border-0 bg-light rounded-end ps-1" name="confirmationCode" id="confirmationCode">
                    </div>
                    <br><br>
                    
                    <div class="input-group input-group-lg">
                        <!-- <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-envelope"></i></span> -->
                        <input type="email" class="form-control border-0 bg-light rounded-end ps-1" name="confirmEmail" id="confirmEmail" value="<%=email%>"  readonly hidden>
                    </div>
                </div>
                <!-- Button -->
                <div class="align-items-center mt-0">
                    <div class="d-grid">
                        <button class="btn btn-primary-soft mb-0" type="submit">Verify</button>
                    </div>
                </div>

            </form>
            <!-- Form END -->
            
        </div>
    </div> <!-- Row END -->
</div>
        </div>

<div class="bg-purple circle bottom-circle"></div>



    </main>

    <script src="/js/jquery-3.4.2.min.js"></script>
    <script src="/js/confirmEmailReset.js"></script>
</body>
</body>
</html>