<!-- Create Space Modal Start -->
<div id="CreateSpaceModal" class="modal" >

    <!-- Modal content 1-->
    <div class="modal_content">
        <div class="close_btn">
            <span class="tutclose">&times;</span>
        </div>
        <div class="bx_content before_space_create">
            
        </div>
    </div>
</div>
<!-- Create Space Modal END -->
<script src="/js/scholarControls/createSpace.js"></script>

