<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- loader goes here -->

    <!-- Inside upload.ejs -->
<form method="post" id="uploadTutorialForm" action="/api/scholar/newTutorial" enctype="multipart/form-data">
    <input type="text" readonly value="" name="buffer" id="buffer" hidden>
    <input type="text" readonly value="" name="commentBuffer" id="commentBuffer" hidden>
    <input type="text" readonly value="" name="tutorialBuffer" id="tutorialBuffer" hidden>
    <input type="text" name="course_id" id="course_id">
    <input type="text" value="debby_ebuzome" name="Owner" id="Owner" hidden readonly>
    <input type="text" value="debby_ebuzome" name="courseOwner" id="courseOwner" hidden readonly>
    
    <input type="text" name="tutorialTitle" id="tutorialTitle" value="TITLE">
    <br>
    <input type="text" name="category" id="category" value="categoryNm">

    <input type="file" name="video" accept="video/*" id="video">
    <br>
    <input type="file" name="thumbnail" accept="image/*" id="thumbnail">
<br>
    <textarea name="shortDescription" id="shortDescription" cols="30" rows="10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint id, rerum porro eius dolor dignissimos! Accusamus a velit assumenda repellat unde, quae sit illum, nam fugiat necessitatibus consequuntur repudiandae.
    </textarea>
<br>


    <!-- New thumbnail input -->
    <button type="submit" id="create_TUTORIAL" hidden>jj</button>
</form>

<button id="createNew_Tutorial">CREATE COURSE</button>



<script src="/js/jquery-3.4.1.min.js"></script>

<script src="/js/scholarControls/createTutorialClient.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>

</html>