<!-- Create Space Modal Start -->
<div id="CreateSpaceModal" class="modal" >

    <!-- Modal content 1-->
    <div class="modal_content">
        <div class="close_btn">
            <span class="tutclose">&times;</span>
        </div>
        <div class="bx_content">
            <h5 class="header_p"><i class="fa fa-users"></i> Create Space/Forum</h5> <br><br>
             <!-- Step 2 content START -->
							<div class="upload_container">
                                <form enctype="multipart/form-data" class="book_upload"  id="space" style="width: 100%;">

									<input type="text" readonly value="" name="bufferSpace" id="bufferSpace" hidden>
    								
									<!-- Upload image START -->
									<div class="left_uploadBook">
									    <!-- <div class="text-center justify-content-center align-items-center border border-2 border-dashed rounded-3">
											
											<img src="/files/images/gallery.svg" class="h-50px" alt="">
											<div>
												<h6 class="my-2">Upload Space/Forum Thumbnail here</h6>
												
													<span> 
													<input class="form-control " type="file" name="thumbnail" accept="image/*" id="thumbnail" />
													</span>
													<p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG and PNG. Larger image will be cropped to 4:3 to fit our thumbnails/previews.</p>
											</div>	
										</div> -->
									</div>
									<!-- <br><br> -->
									<!-- Upload image END -->
                                 

									<!-- Upload publication START -->
									<div class="col-12 left_uploadPublication">
										<!-- Input -->
										<div class="col-12">
                                            <h6 class="text-info">Create Space/Forum</h6>
											<label class="form-label">Space Title</label>
                                            <div class="input-group mb-3">
                                               <input type="text" class="form-control" name="spaceTitle" id="spaceTitle" value="" placeholder="Title goes here..." required>
                                            </div>
                                            <label class="form-label">Space/Forum Description</label>
                                            <div class="input-group mb-3">
											   <textarea class="form-control" name="shortDescription" id="shortDescription" palcecols="30" rows="10" required placeholder="Write a schort description about this space"></textarea>
										
                                            </div>


                                            
                                           <button type="submit" id="create_SPACE" hidden>Create</button>
										</div>

                                    </div>
                                </form>
										
							</div>
									<!-- Book Upload END -->
							<!-- Step 2 content END -->
                    <span class="submitBook" id="createNew_space">Create</span>
        </div>
    </div>
</div>
<!-- Create Space Modal END -->
<script src="/js/scholarControls/createSpace.js"></script>

