<div class="modal fade" id="editAction" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			
			<!-- Modal header -->
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-white" id="appDetaillabel">Edit Resource</h5>
				<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body p-5" id="edit_section">
				
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" id="submitModal" class="btn btn-warning-soft my-0">Submit</button>
			</div>
		</div>
	</div>
</div>  


<!-- Delete Modal -->

<div class="modal fade" id="deleteAction" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			
			<!-- Modal header -->
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-white" id="appDetaillabel">Delete Resource</h5>
				<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body p-5" id="delete_section">
				
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" id="DeleteModal" class="btn btn-danger-soft my-0">Delete</button>
			</div>
		</div>
	</div>
</div>   
<script src="/js/updateModalUI.js"></script>


