<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/BjUjwYIL#Hy8zY9kKZwUfMR-yGldsDExaMm9nrKpIi64YcW38MbA" allowfullscreen ></iframe>

        <iframe src="https://mega.nz/embed" frameborder="0" title="Mega Upload"  width="100%"   height="500px"></iframe>
</body>
</html>