<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/contactUs.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/error.css">
   
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">

    <link rel="stylesheet" href="./css/css/fontawesome.css">
    <link rel="stylesheet" href="./css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title><%= status %></title>
    <!-- Dark mode -->
<script src="/js/colorTheme.js"></script>
</head>
<body>
<%- include ("loader") %>
    <div id="main">
    	<div class="fof">
           <%= status %> | 
    	</div>
</div>
   
<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>

</html>