<h4 class="header">Google Scholar</h4>
<input type="text" value="<%= searchName %>" id="name" name="name" hidden>
<!-- Progress item -->
<div id="googleScholar_container">     
</div>



<script src="/js/searchQueries/getGoogleScholar.js"></script>