<ul class="list-inline mb-0">
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-check-circle text-instagram-gradient me-2"></i>Verified</li>
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
        
        <i class="fa fa-users text-google-icon"></i><a href="#"> <span class="profile-stat-count" id="total_followers_count">0</span> Followers</a></li>
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fa fa-graduation-cap text-primary"></i><a href=""><span class="profile-stat-count"> 0</span> Enrolled Students</a></li>
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-book text-purple me-2"></i><span id="total_courses_count">0</span> Courses</li>
</ul>


<script src="/js/searchQueries/getTotalCoursesCount.js"></script>
