<div class="list-group list-group-dark list-group-borderless">
    <a class="list-group-item" href="/dashboard"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
    <a class="list-group-item course_menu" href="/instructorCourses"><i class="bi bi-basket fa-fw me-2"></i>My Courses</a>
    <a class="list-group-item assets_menu" href="/myAssets"><i class="bi bi-basket fa-fw me-2"></i>My Resources</a>
    <a class="list-group-item students_menu" href="/instructorStudents"><i class="bi bi-basket fa-fw me-2"></i>Students</a>
    <a class="list-group-item reviews_menu" href="/instructorReviews"><i class="bi bi-basket fa-fw me-2"></i>Reviews</a>
    <a class="list-group-item profile_menu"  href="/settings"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit Profile</a>
    <a class="list-group-item text-google-icon" href="#"><i class="bi bi-basket fa-fw me-2"></i>Collaborate</a>
    <a class="list-group-item delete_menu" href="/deleteAccount"><i class="bi bi-trash fa-fw me-2"></i>Delete Profile</a>
    <!-- <a class="list-group-item text-danger bg-danger-soft-hover" href="/logout"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a> -->
</div>

<script>
	function getURL(){
		return window.location.pathname
	}
	const urlD = getURL()
	console.log(urlD)
	
    if(urlD == "/settings" || urlD == "/settings/*"){
    var settings_menu =  document.querySelector(".profile_menu");
    settings_menu.classList += " active";
    }

    if(urlD == "/myAssets" || urlD == "/myAssets/*" || urlD == "/scholarAssets" || urlD == "/myassets"){
    var course_menu =  document.querySelector(".assets_menu");
    course_menu.classList += " active";
    }

    if(urlD == "/instructorCourses" || urlD == "/instructorCourses/*"){
    var course_menu =  document.querySelector(".course_menu");
    course_menu.classList += " active";
    }

    if(urlD == "/deleteAccount" || urlD == "/deleteAccount/*"){
    var delete_menu =  document.querySelector(".delete_menu");
    delete_menu.classList += " active";
    }
	
</script>