
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Weperch Technologies Ltd">
	<meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
    <link rel="stylesheet" href="./css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contactUs.css">

   
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">

    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title>ASFI - Login</title>

    <!-- Dark mode -->
	<script src="/js/colorTheme"></script>
</head>
<body style="background-color: #f2f4f7; ">
    <!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container containerReg">
			<!-- Logo START -->
			<a class="navbar-brand" href="/home">
				<img class="light-mode-item navbar-brand-item" src="/files/images/ASFIScholar_Logo.png" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/files/images/ASFIScholar_Logo.png" alt="logo">
			</a>
			<!-- Logo END -->
	
			
			

			<!-- SignUp or Login -->
			<a href="/becomeInstructor"><span class="btn btn-primary">Become Instructor</span></a>
				

				
		
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->
<main style=" align-items: flex-start; max-height: 100vh; background-color: #f2f4f7; ">
   
        <!-- <div class="msg-container">
            <div class="msg alert-danger " role="alert" id="error" >Text Goes Here</div>
            <div class="msg alert-success" role="alert" id="success"></div>
        </div> -->

<div class="bg-purple circle top-circle"></div>

<%- include("Loginform") %>
        </div>




    </main>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/loginExternal.js"></script>

    <!-- Bootstrap JS -->
<script src="js/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>

    <!-- Template Functions -->
    <script src="/js/functions.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>

</html>