<link rel="stylesheet" href="/css/forms.css">
<div class="msg-container">
    <div class="msg alert-danger " role="alert" id="error" >Text Goes Here</div>
    <div class="msg alert-success" role="alert" id="success"></div>
</div>
<div class="col-10 col-lg-6 m-auto login-card bg-shadow">
    <div class="row my-5">
        <div class="col-sm-10 col-xl-11 m-auto">
            <!-- Title -->
            <span class="logo"><img src="files/images/ASFIScholar_Logo.png" alt=""></span>
            
            <p class="lead mb-4 ">Nice to see you 👋! Please log in with your account.</p>

            <!-- Form START -->
            <form onsubmit="return false" method="post" id="form">
                <!-- Username -->
                <div class="mb-4">
                    <label for="Username" class="form-label">Username or Email address*</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control border-0 bg-light rounded-end ps-1"  placeholder="Username or Email" name="username" id="user" required>
                    </div>
                </div>
                <!-- Password -->
                <div class="mb-4">
                    <label for="inputPassword5" class="form-label">Password *</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control border-0 bg-light rounded-end ps-1 pass" placeholder="Password" name="password" id="pass" required>
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3 show_pass" onclick="show_pass()" aria-label="eye_icon"><i class="fa fa-eye"></i></span>
                    </div>
                    <div id="passwordHelpBlock" class="form-text">
                        Your password must be 8 characters at least 
                    </div>
                </div>
                <!-- Check box -->
                <div class="mb-4 d-flex justify-content-between mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="text-primary-hover">
                        <a href="/forgotpassword" class="text-secondary">
                            <u>Forgot password?</u>
                        </a>
                    </div>
                </div>
                <!-- Button -->
                <div class="align-items-center mt-0">
                    <div class="d-grid">
                        <button class="btn btn-primary-soft mb-0" type="submit">Login</button>
                    </div>
                </div>

            </form>
            <!-- Form END -->
                <!-- Sign up link -->
            <div class="mt-4 text-center">
                <span>Don't have an account? <a href="/register">Create one</a></span>
            </div>
            
        </div>
    </div> <!-- Row END -->
</div>