
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Weperch Technologies Ltd">
    <meta name="description" content="ASFISCHOLAR- African Scholars, Education, Community, Scientists">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/contactUs.css">
  
   
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">

    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title>ASFI - New Password</title>

    <!-- Dark mode -->
	<script src="/js/colorTheme.js"></script>
</head>
<body>
    <main>
        <div class="msg-container">
            <div class="msg alert-danger " role="alert" id="error" >Text Goes Here</div>
            <div class="msg alert-success" role="alert" id="success"></div>
        </div>

<div class="bg-purple circle top-circle"></div>

<div class="col-12 col-lg-6 m-auto login-card bg-shadow" style="height: max-content;">
    <div class="row my-5">
        <div class="col-sm-10 col-xl-8 m-auto">
            <!-- Title -->
            <span class="logo"><img src="files/images/ASFIScholar_Logo.png" alt=""></span>
            
            <span class="mb-0 fs-1">🤔</span>
							<p class="fs-2 welcome_text">Create a new Password</p>

            <!-- Form START -->
            <form onsubmit="return false" method="post" id="submitNewPassword">
                <!-- Username -->
                <div class="mb-4">
                    <label for="Message" class="form-label messageToConfirm"><%= message %></label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control border-0 bg-light rounded-end ps-1" name="emailNew" value="<%=email%>" readonly id="emailNew" hidden>
                    </div>
                    <br>
                    
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control border-0 bg-light rounded-end ps-1 pass" placeholder="Enter Password" name="password1" id="password1" required>
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3 show_pass" onclick="show_pass()" aria-label="eye_icon"><i class="fa fa-eye"></i></span>
                    </div><br>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control border-0 bg-light rounded-end ps-1 pass" placeholder="Confirm Password" name="password2" id="password2" required>
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3 show_pass" onclick="show_pass()" aria-label="eye_icon"><i class="fa fa-eye"></i></span>
                    </div>
                    <ul class="warning" id="warning"></ul>
                <input id="submitPasswordButton" hidden>
                </div>
                <!-- Button -->
                <div class="align-items-center mt-0">
                    <div class="d-grid">
                        <button class="btn btn-primary-soft mb-0" type="submit" id="createNewPasswordButton">Create New Password</button>
                    </div>
                </div>

            </form>
            <!-- Form END -->
            
        
            
            
        </div>
    </div> <!-- Row END -->
</div>
        </div>

<div class="bg-purple circle bottom-circle"></div>



    </main>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/createNewPassword.js"></script>
    <script>
        function show_pass() {
            var pass1 = document.getElementById("password1");
            var pass2 = document.getElementById("password2");
            if (pass1.type === "password") {
              pass1.type = "text";
            } else {
              pass1.type = "password";
            }
            if (pass2.type === "password") {
              pass2.type = "text";
            } else {
              pass2.type = "password";
            }
          }
    
    </script>
</body>
</html>