

<div class="notifications_panel">
    <div class="notification_header">
        <div class="header_top">
        <p class="header_title">Notifications</p>
       
        <div class="close_button_notification" id="toggleChatButton"><span>x</span></div>
        </div>
        <!-- <div style="display: flex; justify-content: space-between; background-color: red; width: 100%;">
            <button id="enable-notifications" class="notification-button-enable">Enable</button>
				<button id="disable-notifications" class="notification-button-disable">Disable</button>
        </div> -->
        <label class="switch">
            <input type="checkbox" id="notification-toggle">
            <span class="slider"></span>
            <p id="notification-status"></p>
        </label>
        

        <!-- STart header Bottom  -->
         <div class="header_bottom">
            <div class="button"><button>Mark all as read</button></div>
         </div>
    </div>
    <!-- end notification header  -->

    <!-- Main notification container  -->
    <div id="Notification_id_container" class="notification_container"> 



</div>
<!-- End notificaitons container  -->
</div>