<ul class="list-inline mb-0">
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-check-circle text-warning me-2"></i>Verified</li>
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fa fa-users text-instagram-gradient"></i>
    <a href="/@<%= UserName %>/following"><span class="profile-stat-count"><%= Following %></span> Following</a></li>
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fa fa-users text-google-icon"></i>
        <a href="#"><span class="profile-stat-count"><%= Followers %></span> Followers</a></li>
    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-book text-purple me-2"></i>0 Books</li>
</ul>