<h4 class="header">Technical Expertise</h4>
<style>
    .dot{
        height: 6px;
        width: 6px;
        display: flex;
        color: inherit;
        background-color: rgb(48, 48, 48);
        border-radius: 50%;
    }
    #technical_expertise_container li{
        display: flex;
        align-items: center;
    }
    #technical_expertise_container li span{
        padding-left: 8px;
    }
    
</style>
<!-- Progress item -->
<div class="overflow-hidden mb-4">
    <ul style="list-style-type: none;" id="technical_expertise_container">
        
    </ul>
</div>

<script src="/js/searchQueries/getTechnicalExpertise.js"></script>
