 <!-- Table body START -->
 <tbody id="userCourseContainer">
    <!-- Table item -->
      <!-- Table item -->
      <tr>
        <!-- Table data -->
        <td>
            <div class="d-flex align-items-center">

                <div class="mb-0 ms-2">
                    <!-- Title -->
                    <h6><a href="#">Dummies Guide to the universe</a></h6>
                    <!-- Info -->
                    <!-- <div class="overflow-hidden">
                        <h6 class="mb-0 text-end">100%</h6>
                        <div class="progress progress-sm bg-primary bg-opacity-10">
                            <div class="progress-bar bg-primary aos" role="progressbar" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </td>

        <!-- Table data -->
        <td>0</td>

        <!-- Table data -->
        <!-- <td>0</td> -->

        <!-- Table data -->
        <td class="action-table">
            <form action="">
                <input type="hidden" class="coursesComplete">
                <button class="btn btn-sm btn-success me-1 mb-1 mb-x;-0 disabled"><i class="fas fa-check me-1"></i>Complete</button>
            </form>
            <form action="">
                <input type="hidden" class="coursesRestart">
                <button href="#" class="btn btn-sm btn-light me-1"><i class="fas fa-repeat me-1"></i>Restart</button>
            </form>
            
        </td>
    </tr>
</tbody>
<!-- Table body END -->