<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Your Website</title>
    <link rel="stylesheet" href="/css/welcomeEmail.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">
</head>
<body>
<%- include ("loader") %>
    <header class="header">
        <div class="header-container">

            <img class="logo" src="/files/images/ASFIScholar_Logo.png" alt="logo">
        </div>
    </header>

    <div class="welcome-container">
        <main>
            <h1>Welcome to ASFIScholar</h1>
            <p>LEARN . MENTOR . COLLABORATE . PUBLISH . BE VISIBLE</p>
            
        </main>
        <iframe src="https://asfischolar.org/aboutUs" frameborder="0" width="100%" height="900px"></iframe>

        <footer>
            <p>© 2024 asfischolar.org. All rights reserved.</p>
        </footer>
    </div>
<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>

</html>
