
        <!-- Education START -->
        <!-- Skills START -->
        <h4 class="header">Work History</h4>

        <!-- Progress item -->
        <div id="WorkHistoryContainer">
   
     
        </div>



<script src="/js/searchQueries/getWorkHistory.js"></script>