.topNavbar{
        background-color: rgb(248, 248, 248);
        box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.34);
        position: fixed;
        display: flex;
        top:0;
        z-index: 99953;
}

searchBar{
    display: flex;
    margin: auto;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid; */
    border-radius: 25px;
    padding: 15px;
}

searchBar input{
    border: none;
    background: transparent;
    width:120%;
}
.header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header .text{
    padding-bottom:10px;
    width: fit-content;
    border-bottom: 1px solid;
    font-weight: bolder;
    font-size: larger;
}

.externalLinks .container{
    /* margin-top:104px; */
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    list-style-type: none;
}

.books_container {
    height: 700px;
}
.books_container .book_list{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    list-style-type: none;
    margin:auto;
}

.books_container .card {
    width: 290px;
    height: 10px;
    margin: auto;
    overflow:hidden;
    transition: ease-in-out 300ms;
}
.books_container .card img {
    width: 70%;
    height: 50%;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.34);
    margin: auto;
}
.card-footer {
   position: absolute;
   width: 100%;
   background-color: transparent;
   margin-top: 100%;
}
.books_container .card:hover {
    transform: rotate(-5deg);
}

.books_container a{
    text-decoration: none;
    color:inherit;
}

.books_container .book_list .card{
    margin-top: 20px;
    border-radius: 10px;
}
.books_container .book_list .card .list-inline, .list-inline-item {
    height: 40px;
}


/* MODAL */
.modal_container{
    position:fixed;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    z-index: 99954;
    backdrop-filter: blur(20px);
    transition: ease-in-out 300ms;
}

.modalMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 36px;
    width: 60%;
    height: 90%;
    overflow: hidden;
}

.modal_header, .modal_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:40px;
    width: 90%;
}

.modal_header .book_title{
    font-weight: bold;
}

.modal_body{
    display: inherit;
    width: 90%;
    height: 90%;
    overflow: scroll;
}

.pagination{
    display: flex;
    flex-direction: row;
}

.pagination div{
    padding-left: 10px;
    font-size: 23px;
}
.prev{
    color:var(--dark-grey);
}

.next{
    color:var(--purple);
}

.search_panel{
    display: flex;
    flex-direction: row;
}

.search_panel input{
    outline: none;
    border:none;
}

/* .hidden{
    transform: scale(0);
} */

.shown{
    transform:scale(1);
}

.page_count a{
    text-decoration: none;
    color:inherit;
}
.page_count{
    display: flex;
    flex-direction: row;
}
.page_count .close_button{
    padding-left: 10px;
    font-size: 18px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.page_count .close_button:hover{
    transform: scale(1.1);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  p {
    margin: 10px 0;
  }
  a{
    color:inherit;
    text-decoration: none;
  }

  .msg_container:focus-visible{
    display:none
  }
.msg_container{
    display: flex;
    width: 100%;
    height: 40px;
    top:50px;
    padding: 0px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    float:right;
    /* overflow: hidden; */
    justify-content: right;
    z-index: 980890;
}

#warning{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:10px;
    font-size: 15px;
    height: 100%;
    float:right;
    width: 40%;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* transition: ease-in-out 300ms; */
    user-select: none;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.1);
    border-left:10px solid rgb(239, 32, 32);
    /* margin-top: 0px; */
    align-self: flex-end;
    float: right;
    transition: ease-in-out 350ms;
    animation: SlideIn forwards;
    -webkit-animation: SlideIN forwards;
}
.find_page::-webkit-inner-spin-button, .find_page::-webkit-outer-spin-button{
    display: none; 
}

.library_main {
    justify-content: center;
}

@keyframes SlideIN{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}