
a {
    color: inherit;
    font-weight: ligh;
    text-decoration: none;
}


.FollowingAccounts, .header_tag{
    font-size: 17px;
    transition: ease-in-out 200ms;
    -webkit-transition: ease-in-out 200ms;
}
.accounts_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    width:40%;
    padding-top: 10px;
    border-radius: 9px;
    box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.34);
}
.accounts_container .account_header{
    display: flex;
    flex-direction: row;
    width:40%;
    align-items: center;
    /* margin-left: 10px; */
    justify-content: space-between;
}

.account_header span{
    padding: 5px;
    user-select: none;
    cursor: pointer;
}
.account_header .active{
    font-weight: bold;
    color: rgba(255, 145, 0, 0.856);
}
.accounts_box{
    margin-top: 10px;
    width: 100%;
    margin-right: auto;
    overflow-y: scroll;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    /* background-color: red; */
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    height: 95%;
}

.accounts_box .divide_accounts{
    margin-top: 10px;
    width:400px;
    display: flex;
    margin-left: 10px;
    /* margin-right: auto; */
    background: rgb(213, 213, 213);
    height:1px;
}

.followingContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 5%;
}

.discoverContainer{
    display: none;
    flex-direction: column;
    width: 500px;
    margin-left: 5%;
}

account {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}
.name{
    font-weight: bold;
}
.degree{
    color: rgb(98, 98, 98);
}
account .image_container{
  border-radius: 50%;
  background-color: #333;
  left: 0px;
  top: 0px;
  width: 57px;
  height: 57px;
  overflow: hidden;
}

account .details{
    margin-left: 2px;
}

account .details div{
    /* background-color: rgb(236, 236, 236); */
    margin-top: 2px;
    padding: 2px;
}

account .details div:last-child{
    width: fit-content;

}

.divider{
    width: 2px;
    background-color: rgb(194, 194, 194);
    height: 400px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    align-self: center;
    /* justify-self: center; */
}

.spaces_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    width:70%;
    align-items: center;
    padding-left: 5%;
}

.spaces_container .spaces_header h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    height: 40px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(255, 145, 0, 0.856);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.34);
}

.spaces_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
    margin-top: 30px;
    /* margin: auto; */
}
.space{
    margin: 10px;
}
.space .image_container{ 
        /* background-color: rgb(255, 72, 0); */
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 145px;
        margin: 0px;
        padding: 0px;
        display: flex;
        overflow: hidden;
}

.bottom_navbar{
    font-size: 22px;
    font-weight: bold;
}

.image_container img{
    transition: ease-in-out 300ms;
    /* height: inherit; */
    width: inherit;
}
.image_container:hover img{
    scale:1.2;
}
.space .title, .space .participants{
        /* background-color: rgb(236, 236, 236); */
        /* height: 29px; */
        margin-top: 5px;
        padding: 5px;      
}
.space{
    border: 1px solid grey;
    border-radius: 9px;
    width: fit-content;
    overflow: hidden;
    padding: 0px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
}
.space .title{
    font-weight: bold;
    font-size: 18px;
}
.space .participants{
    display: flex;
    flex-direction: row;
    color: rgb(98, 98, 98);
    /* font-weight: bold; */
}
.space .participants span{
    margin-left:10px;
    height: 20px;
    overflow: hidden;
    display:flex;
    width: 20px;
    border-radius: 100%;
}

.top{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
}

.top .cover_image_container{
    background-color: var(--golden-Yellow);
    display: flex;
    width: 100%;
    height: 50%;
    position: sticky;
    overflow: hidden;
    /* z-index: -1; */

}

.body{
    display: flex;
    flex-direction: row;
    height: 900px;
}
.ready_body{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* background-color: red; */
}
.side_divide{
    top: 0px;
    left: 0px;
    width: 75px;
    /* background-color: red; */
    display: flex;
    height: 100%;
}

.top .cover_image_container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top center;
}

.detail_container{
    display: flex;
    position: sticky;
    margin-top:-75px;
    /* align-self: flex-start; */
    width: 95%;
    align-self: center;
    height: fit-content;    
    justify-self: flex-end;

}

.detail_container .profile_image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #333;
    border: 5px solid white;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.detail_container .profile_image img{
    display: flex;
    width: 100%;
    /* height: 100%; */
}

.detail_container .info{
    display: flex;
    flex-direction:column;
    width: 90%;
    padding-left: 10px;
    /* background-color: blue; */
    align-self: flex-end;
    /* justify-self: flex-end; */
    /* bottom: 0; */
    /* margin-bottom: 0px; */
    margin-top:80px;
}
.info .verified_tag{
    width:20px;
    display: flex;
    margin-left:10px;
    height: 20px;
    /* background-color: var(--golden-Yellow); */
}
.info .user{
    font-weight: bold;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.info .position{
    font-weight: light;
    text-transform: uppercase;
    color: rgb(94, 94, 94);
}

.buttons, .buttons:hover, .buttons:focus{
    background-color: var(--golden-Yellow);
    width: 100px;
    height: 30px; 
    font-size: 15px;
    color: white;
    border-radius: 100px;
    border: none;
    outline: none;
    margin-top: 8px;      
}

.followership{
    font-weight: light;
    color: rgb(94, 94, 94);
    display: flex;
    padding-top:5px ;
    padding-left:5px ;
    font-size:14px;
}

.followership span{
    padding-right:10px;
}

.bottom_container{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    justify-self: flex-end;
    height: 900px;
    justify-content: space-between;
    /* width:100%; */
}

.bottom_left {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 40px;
}
.header{
    display: flex;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    font-weight: light;
}
.degree{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;

    align-items: center;
    justify-content: flex-start;
}
.degree .icon_degree{
    color: var(--golden-Yellow);
    height: 25px;
    width:25px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

.degree .description{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 35px;
    color: black;
    padding-left: 5px;
    align-items: center;
    /* background-color: rgb(232, 232, 232); */
}
.bottom_right{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.bottom_right_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    overflow: scroll;
}


.video {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 20px;
    height: 240px;
    /* padding-bottom: 10px; */
    padding-right:0px ;
    margin-top: 5px;
    /* border-bottom: 1px solid; */
}

.video .cover{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* background-color: rgb(15, 33, 58); */
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.preview {
    display: flex;
    position: sticky;
}
.preview img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}
.duration {
    /* position: relative; */
    background-color: rgba(15, 15, 15, 0.459);
    width:100px;
    border-bottom-left-radius: inherit;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    align-self: flex-start;
    justify-self: flex-end;
}
.cover .overlay{
    /* background-color: brown; */
    height: 100%;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: sticky;
}
.player{
    height: 50px;
    width:50px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: sticky;
    border-radius: 100%;
    background-color: white;
}
.playbutton{
  height: 20px;
  width: 20px;
  /* background-color: red; */
}

.bud {
    background-color: rgb(236, 236, 236);
    padding: 2px;
    margin-top: 2px;
}

.title{
    font-weight: bold;
}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.creator .first_name{
    display: flex;
    flex-direction: row;
}
.profile_container {
    height:20px;
    width: 20px;
    border-radius: 100%;
    overflow: hidden;
}
.first_name .name{
    padding-left: 5px;
}
.profile_container img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


/* FOR CHAT INTERFACE */
.topNav_chat {
display: flex;
padding-left: 100px;
display: flex;
align-items: center;
}

.topNav_chat .chat_profile_image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.topNav_chat .info{
    margin-left: 10px;
}

.main_chat_container{
    /* background-color: gold; */
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    height: 600px;
    margin-left: auto;
    margin-top:100px;
    overflow-y: scroll;
}

.chat_div{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: fit-content;
    position: relative;
    /* background-color: red; */
    margin-top: 10px;
    flex-direction: column;
}

.chat_div .replier{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width:40%;
    height: fit-content;

}
.replier_top{
    display: flex;
    width: 100%;
    height: 90%;
    /* background-color: purple; */
    flex-direction: row;
    
}
.replier_text{
    background-color: var(--grey);
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height:100%;
    margin-left: 10px;
    width: 90%;
    padding: 5px;

}
.replier_image{
    display: flex;
    height:40px;
    width:40px;
    border-radius: 100%;
    overflow: hidden;
    align-self: flex-end;
}

.replier_time{
    background-color: var(--grey);
    display: flex;
    width: 90%;
    height:20px;
    padding-left: 5px;
    align-items: center;
    align-self: flex-end;
    margin-top: 5px;
}

.sender_div{
    display: flex;
    align-items: flex-end;
}
.chat_div .sender{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width:40%;
    height: fit-content;
    padding: 5px;
    align-items: flex-end;
}

.sender .replier_top{
    flex-direction: row-reverse;
    display: flex;
}

.sender .replier_top .replier_text{
    margin-right:10px;
    /* height: 100%; */
    margin-left:0px;
}

.sender .replier_time{

    align-self: flex-start;
}

.chat_inputfield_container{
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    /* box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.34); */
    position: sticky;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    bottom:0;
}

.chat_input_field{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: red; */
}
.chat_input_field form{
    width: 100%;
    display: flex;
    align-self: center;
    /* background-color: green; */
}
.chat_input_field {
display: flex;
margin: auto;
justify-self: center;
align-self: center;
width: 60%;
background-color: white;
border: 1px solid;
height: 40px;
padding: 6px;
}
.chat_input_field .message_field{
    width:100%;
    /* height: 100px; */
    border: none;
    outline: none;
}
.message_field:hover, .message_field:focus{
    border: none;
    outline: none;
}

.chat_input_field span{
    margin-left: 4px;
}

/* FOR SPACES INTERFACE */
.black_text{
    border: 1px solid black;
    color: black;
}

.white_text{
    border: 1px solid white;
    color: white;
}
#close_cover_photo{
    display: flex;
    position: absolute;
    background-color: transparent;
    /* border: 1px solid white;
    color: white; */
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    user-select: none;
    cursor: pointer;
    justify-content: space-around;
    height: fit-content;
    padding: 5px;
    width: 120px;
    /* top: 0; */
    z-index: 99423452;
    float: right;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top:10px;
    margin-right: 10px;
}
.space_cover{
    background-color: var(--golden-Yellow);
    display: flex;
    width: 100%;
    height: 250px;
    position: sticky;
    overflow: hidden;
    /* transition: ease-in-out 300ms; */
}
#space_cover_contained{
    transition: ease-in-out 300ms;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.space_cover img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top center;
}
.small_picture {
    height: 0px;
    /* transition: ease-in-out 300ms; */

}

.topic{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #333;
}

.space-header{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;

}

.space-header .participants{
    color:rgb(209, 209, 209);
    font-weight: light;
}

/* PROFILE STYLES */
.profile_main {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    width: 100%;
}
.profile_section {
    margin: auto;
    width: 85%;
    margin-top: 0;
}
.profile_section .cover_image_container {
    padding: 15%;
}
.profile-tag {
    font-size: 25px;
    text-transform: uppercase;
}
.position {
     font-size: 18px;
     margin-top: -17px;
}

span i{
    padding: 15px;
}

.fas svg{
    width: auto;
}