main {
    justify-content: center;
    height: 100%;
}
.VC_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

searchBar{
    display: flex;
    margin: auto;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid; */
    border-radius: 25px;
    padding: 15px;
    height: 45px;
}

searchBar input{
    border: none;
    background: transparent;
    width:90%;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.VC_sidebar{
    position: absolute;
    z-index: 90;
    height: 100%;
    width: 50%;
    float: right;
    box-shadow: 7.071px 7.071px 63.99px 17.01px rgba(26, 27, 26, 0.36);
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    right: 0;
    transition: ease-in-out 300ms;
}
.closed_sidebar{
    width: 0px;
    opacity: 0;
}
.VC_sidebar .close_panel{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: ease-in 200ms;
}
.VC_sidebar .close_panel span{
    transition: ease-in-out 200ms;
    display: flex;
    width: fit-content;
    font-size: 23px;
}

.VC_sidebar .close_panel:hover span{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.chat_interface{
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* align-items: flex-end; */
    /* justify-content:last baseline; */
}
.VC_sidebar .send_to{
    display: flex;
    align-self: center;
    width: 95%;
    padding: 10px 0px 0px 0px;
    color: var(--golden-Yellow);
}
.VC_sidebar select{
    /* width: 80%; */
    border:none;
    outline: none;
    color: var(--golden-Yellow);
    background: transparent;
}
.VC_sidebar .typing{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
    border:1px solid #333;
    padding: 5px 0px 5px 5px;
    margin-top: 5px;
    justify-content: space-between;
}
.VC_sidebar .typing input, input:hover, input:focus{
    width: 80%;
    border:none;
    outline: none;
    background: transparent;
}
.typing .send{
    padding-right: 10px;
}
.chat_div{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: fit-content;
    position: relative;
    /* background-color: red; */
    padding-left: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.chat_div .replier{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width:90%;
    height: fit-content;

}
.replier_top{
    display: flex;
    width: 100%;
    height: 90%;
    /* background-color: purple; */
    flex-direction: row;
    
}
.replier_text{
    background-color: var(--grey);
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height:100%;
    margin-left: 10px;
    width: 90%;
    padding: 5px;

}
.replier_image{
    display: flex;
    height:40px;
    width:40px;
    border-radius: 100%;
    overflow: hidden;
    align-self: flex-end;
}

.replier_time{
    background-color: var(--grey);
    display: flex;
    width: 89%;
    height:20px;
    padding-left: 5px;
    align-items: center;
    align-self: flex-end;
    margin-top: 5px;
}



.VC_participants{
    width: 95%;
    margin: auto;
    display: flex;
    /* background-color: red; */
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* background-color: yellow; */
    user-select: none;
}

.participant_cntr {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(15, 33, 58);
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
}


.speaker_logo_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:10px 10px 0px 0px;
}
.speaker_logo_div .speaker_logo{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1px;      
    color: white;
}
.raised_hand{
    color: whitesmoke;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
    padding: 0px 10px 10px 0px;
    display: flex;
    transition: ease-in-out 200ms;
}
.hide{
    display: none;
}

.participant_image{
    display: flex;
    height: 50%;
    width: 50%;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    border-radius: 50%;
}


.participant_cntr .name_container{
    display: flex;
    width: 100%;
    border-bottom-left-radius: inherit;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.name{
    color: white;
    background-color: rgba(0, 0, 0, 0.659);
    width:fit-content;
    padding: 0px 8px 4px 8px;
    /* opacity: 0.659; */
    border-bottom-left-radius: inherit;
}

.pop-up-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 50px;
    overflow: hidden;
    user-select: none;
}

.pop-up-container .pop-up-message{
    display: flex;
    color: rgb(251, 251, 251);
    align-items: center;
    justify-content: center;
    /* background-color: rgba(43, 43, 43, 0.781); */
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 35px;
    transition: ease-in-out 200ms;
}
.pop-up-container .pop-up-message i{
    padding: 0px 4px 0px 0px;
}

.closed_pop_up{
    margin-top: 100px;
}


.VC_footer{
    border-top:1px solid orange;
    position: sticky;
    width: 100%;
    padding: 8px 0px 0px 0px;
    height: 100px;
    bottom: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    margin-bottom: 0px;
}

.footer_buttons_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    /* margin: auto; */
    /* background-color: purple; */
}

.ft_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    cursor:pointer;
    user-select:none;
    font-size: 100%;
}
.ft_button .big_red{
    height: 50px;
    margin-top: -25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.button_title h6 {
    font-size: 90%;
    margin-top: 5px;
}